<ul class="nav nav-tabs" id="admin-tabs" role="tablist">
	<li class="active"><a href="#sprints" role="tab" data-toggle="tab">Sprints</a></li>
	<li><a href="#questions" role="tab" data-toggle="tab">Questions</a></li>
	<li><a href="#people" role="tab" data-toggle="tab">People</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active fade in" id="sprints"></div>
	<div class="tab-pane fade" id="questions">

	</div>
	<div class="tab-pane fade" id="people">

	</div>
</div>





