<div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TPS Report</a>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li class="stats-menu"><a href="#stats">Stats</a></li>
					<li class="superlatives-menu"><a href="#superlatives">Superlatives</a></li>
					<li class="survey-menu"><a href="#survey">Survey</a></li>
					<li class="admin-menu"><a href="#admin">Admin</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>