<% _.each(sprint.get("questions"), function(questionId) { %>
<% if (questions.get(questionId).get("type") == "freeResponse") { %>
<div class="row">
<div class="col-md-12">
	<h4><%= questions.get(questionId).get("questionText") %></h4>
	<% sprint.get("responses").each(function(response) { %>
	<p><%= response.get("answers").filter(function(answer) { return answer.question == questionId; })[0].response %></p>
	<% }); %>
</div>
</div>
<% } %>
<% }); %>

<table class="table table-striped">
	<tr>
		<th>#</th>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
		<th><%= questions.get(questionId).get("questionText") %></th>
		<% } %>
		<% }); %>
	</tr>
	<% var count = 0; %>
	<% sprint.get("responses").each(function(response) { %>
	<tr>
		<td><%= count %></td>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
		<td><%= response.get("answers").filter(function(answer) { return answer.question == questionId; })[0].response %></td>
		<% } %>
		<% }); %>
	</tr>
	<% count++; %>
	<% }); %>
	<tr>
		<th>Average</th>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
			<th><%= sprint.get("questionAnswers")[questionId] %></th>
		<% } %>
		<% }); %>
	</tr>
</table>