<div class="row sprint-response-rate">
	<div class="col-md-12">
		<span><b>Response Rate:</b> <%= sprint.get("responseRate")*100 %>%</span>
	</div>
</div>

<% _.each(sprint.get("questions"), function(questionId) { %>
<% if (questions.get(questionId).get("type") == "freeResponse") { %>
<div class="row">
<div class="col-md-12">
	<div class="well">
	<h4><%= questions.get(questionId).get("questionText") %></h4>
	<% sprint.get("responses").each(function(response) { %>
	<% var text = response.get("answers").filter(function(answer) { return answer.question == questionId; })[0].response %>
	<% if (text != "") { %>
		<p><%= text %></p>
	<% } %>
	<% }); %>
	</div>
</div>
</div>
<% } %>
<% }); %>

<table class="table table-striped">
	<tr>
		<th>#</th>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
		<th><%= questions.get(questionId).get("questionText") %></th>
		<% } %>
		<% }); %>
	</tr>
	<% var count = 1; %>
	<% sprint.get("responses").each(function(response) { %>
	<tr>
		<td><%= count %></td>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
		<td><%= response.get("answers").filter(function(answer) { return answer.question == questionId; })[0].response %></td>
		<% } %>
		<% }); %>
	</tr>
	<% count++; %>
	<% }); %>
	<tr>
		<th>Average</th>
		<% _.each(sprint.get("questions"), function(questionId) { %>
		<% if (questions.get(questionId).get("type") == "multipleChoice") { %>
			<th><%= sprint.get("questionAnswers")[questionId] %></th>
		<% } %>
		<% }); %>
	</tr>
</table>