<div data-spy="affix" data-offset-top="70" data-offset-bottom="200" class="affix" id="stats-affix">
	<ul class="nav">

	</ul>
</div>

<div id="charts">

</div>
<% if (sprints.length>1) { %>
<hr>
<% } %>
<select id="sprint-selection" class="form-control">
	<option selected disabled hidden value=''>Select a sprint to view...</option>
	<% sprints.each(function(sprint) { %>
	<option value="<%= sprint.get('id') %>">
		<% var endDate = new Date(sprint.get("endDate")); %>
		<%= sprint.get("sprintName") %> (Ended <%= endDate.getMonth()+1 %>/<%= endDate.getDate() %>/<%= endDate.getFullYear().toString().substring(2,4) %>)
	</option>
	<% }); %>
</select>
<div id="sprint-details">

</div>