<div class="modal fade" id="voting-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Vote for superlatives for sprint <%= sprintNumber %></h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal">
				<% superlatives.each(function(superlative) { %>
					<div class="form-group">
						<label for="superlative_<%= superlative.get('_id') %>" class="col-sm-2 control-label"><%= superlative.get("name") %></label>
						<div class="col-sm-10">
							<select class="form-control" id="superlative_<%= superlative.get('_id') %>">
								<% people.each(function(person) { %>
									<option><%= person.get("name") %></option>
								<% }); %>
							</select>
						</div>
					</div>
				<% }); %>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="submit-survey-button">Submit</button>
			</div>
		</div>
	</div>
</div>